@import "config";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  font-family: $josefin-sans;
  // background-color: $very-light-gray;
}
.main {
  height: 20rem;
  padding: 4rem 2rem 0 2rem;
  // background-image: url("/images/bg-mobile-light.jpg");
  .title-and-mode {
    display: flex;
    justify-content: space-between;
    p {
      // color: $very-light-gray;
      font-weight: 700;
      font-size: 3rem;
      letter-spacing: 0.8rem;
    }
    .color-mode {
      // outline: 1px solid red;
      display: grid;
      place-items: center;
    }
  }
  form {
    margin-top: 4rem;
    input {
      width: 100%;
      padding: 1.5rem;
      font-size: 1rem;
      outline: none;
      border: none;
      border-radius: 8px;
      color: $dark-grayish-blue;
      font-size: 1.2rem;
      font-family: inherit;
    }
  }
  // .hidden {
  //   display: none;
  // }
  ul {
    margin-top: 1.5rem;
    box-shadow: 5px 0px 20px 0 rgba($color: #000000, $alpha: 0.2);
    list-style-type: none;
    position: relative;
    // background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    li {
      // outline: 1px solid blue;
      padding: 1.5rem;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      background-color: #fff;
      outline: 1px solid $light-grayish-blue;
      input {
        margin-right: 1rem;
        outline: none;
      }
      p {
        width: 100%;
        // outline: 1px solid red;
      }
      img {
        cursor: pointer;
        // fill: $dark-grayish-blue;
      }
      .strike-through {
        text-decoration: line-through;
        // color: $light-grayish-blue;
      }
    }

    .bar {
      outline: 1px solid $light-grayish-blue;
      order: 1;
      font-size: 1.2rem;
      div {
        padding: 1.5rem;
        // background-color: #fff;
        display: flex;
        justify-content: space-between;
        .clear-completed {
          cursor: pointer;
        }
      }
    }
    .hidden {
      display: none;
    }
  }
  .filter-bar {
    margin-top: 1.5rem;
    display: flex;
    box-shadow: 0 -5px 20px 0 rgba($color: #000000, $alpha: 0.2);
    justify-content: center;
    column-gap: 0.9rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    // background-color: #fff;
    // color: $dark-grayish-blue;
    border-radius: 8px;
    .filterBtn {
      cursor: pointer;
    }
    .clicked {
      color: $bright-blue;
    }
  }
}

///////////////////////////////
//////////////Dark Mode////////
//////////////////////////////
body {
  // light-mode

  --text-color: hsl(236, 9%, 61%);
  --bkg-color: hsl(0, 0%, 98%);
  .main {
    --main-bkg-img: url("/images/bg-mobile-light.jpg");
    .title-and-mode {
      p {
        --appname-text-color: hsl(0, 0%, 98%);
      }
      .color-mode {
      }
    }
    form {
      input {
        --input-text-color: $dark-grayish-blue;
      }
    }
    ul {
      --ul-bkg-color: #fff;
      --ul-text-color: $dark-grayish-blue;
      li {
        --li-bkg-color: #fff;
        input {
        }
        p {
        }
        img {
        }
        .strike-through {
          --strike-color: $light-grayish-blue;
        }
      }
    }
    li:hover {
      img {
      }
    }
    .bar {
      div {
        --bar-bkg: #fff;
      }
    }
    .hidden {
    }
  }
  .filter-bar {
    --filter-bkg: #fff;
    --filter-text-color: $dark-grayish-blue;
  }
}

body.dark-theme {
  // dark-mode
  --text-color: hsl(236, 9%, 61%);
  --bkg-color: hsl(235, 21%, 11%);
  .main {
    --main-bkg-img: url("/images/bg-mobile-dark.jpg");
    .title-and-mode {
      p {
        --appname-text-color: hsl(0, 0%, 98%);
      }
      .color-mode {
      }
    }
    form {
      input {
        --input-text-color: $dark-grayish-blue;
      }
    }
    ul {
      --ul-bkg-color: hsl(235, 24%, 19%);
      --ul-text-color: $dark-grayish-blue;
      li {
        --li-bkg-color: hsl(235, 24%, 19%);
        input {
        }
        p {
        }
        img {
        }
        .strike-through {
          --strike-color: $light-grayish-blue;
        }
      }
    }
    li:hover {
      img {
      }
    }
    .bar {
      div {
        --bar-bkg: hsl(235, 24%, 19%);
      }
    }
    .hidden {
    }
  }
  .filter-bar {
    --filter-bkg: hsl(235, 24%, 19%);
    --filter-text-color: $dark-grayish-blue;
  }
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    // dark-mode
    --text-color: hsl(236, 9%, 61%);
    --bkg-color: hsl(235, 21%, 11%);
    .main {
      --main-bkg-img: url("/images/bg-mobile-dark.jpg");
      .title-and-mode {
        p {
          --appname-text-color: hsl(0, 0%, 98%);
        }
        .color-mode {
        }
      }
      form {
        input {
          --input-text-color: $dark-grayish-blue;
        }
      }
      ul {
        --ul-bkg-color: hsl(235, 24%, 19%);
        --ul-text-color: $dark-grayish-blue;
        li {
          --li-bkg-color: hsl(235, 24%, 19%);
          input {
          }
          p {
          }
          img {
          }
          .strike-through {
            --strike-color: $light-grayish-blue;
          }
        }
      }
      li:hover {
        img {
        }
      }
      .bar {
        div {
          --bar-bkg: hsl(235, 24%, 19%);
        }
      }
      .hidden {
      }
    }
    .filter-bar {
      --filter-bkg: hsl(235, 24%, 19%);
      --filter-text-color: $dark-grayish-blue;
    }
  }
  body.light-theme {
    // light-mode

    --text-color: hsl(236, 9%, 61%);
    --bkg-color: hsl(0, 0%, 98%);
    .main {
      --main-bkg-img: url("/images/bg-mobile-light.jpg");
      .title-and-mode {
        p {
          --appname-text-color: hsl(0, 0%, 98%);
        }
        .color-mode {
        }
      }
      form {
        input {
          --input-text-color: $dark-grayish-blue;
        }
      }
      ul {
        --ul-bkg-color: #fff;
        --ul-text-color: $dark-grayish-blue;
        li {
          --li-bkg-color: #fff;
          input {
          }
          p {
          }
          img {
          }
          .strike-through {
            --strike-color: $light-grayish-blue;
          }
        }
      }
      li:hover {
        img {
        }
      }
      .bar {
        div {
          --bar-bkg: #fff;
        }
      }
      .hidden {
      }
    }
    .filter-bar {
      --filter-bkg: #fff;
      --filter-text-color: $dark-grayish-blue;
    }
  }

  body {
    background: var(--bkg-color);
    color: var(--text-color);
    .main {
      background: var(--main-bkg-img);
      .title-and-mode {
        p {
          color: var(--appname-text-color);
        }
        .color-mode {
        }
      }
      form {
        input {
          color: var(--input-text-color);
        }
      }
      ul {
        background: var(--ul-bkg-color);
        color: var(--ul-text-color);
        li {
          background: var(--li-bkg-color);
          input {
          }
          p {
          }
          img {
          }
          .strike-through {
            color: var(--strike-color);
          }
        }
      }
      li:hover {
        img {
        }
      }
      .bar {
        div {
          background: var(--bar-bkg);
        }
      }
      .hidden {
      }
    }
    .filter-bar {
      background: var(--filter-bkg);
      color: var(--filter-text-color);
    }
  }
}
