@import "config";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  font-family: $josefin-sans;
  background-color: $very-light-gray;
  // background-color: $very-light-grayish-blue;
  // background-color: $light-grayish-blue;
}
.main {
  height: 20rem;
  padding: 4rem 2rem 0 2rem;
  background-image: url("/images/bg-mobile-light.jpg");
  .title-and-mode {
    display: flex;
    justify-content: space-between;
    p {
      color: $very-light-gray;
      font-weight: 700;
      font-size: 3rem;
      letter-spacing: 0.8rem;
    }
  }
  form {
    margin-top: 4rem;
    input {
      width: 100%;
      padding: 1.5rem;
      font-size: 1rem;
      outline: none;
      border: none;
      border-radius: 8px;
      color: $dark-grayish-blue;
      font-size: 1.2rem;
      font-family: inherit;
    }
  }
  // .hidden {
  //   display: none;
  // }
  ul {
    margin-top: 1.5rem;
    box-shadow: 5px 0px 20px 0 rgba($color: #000000, $alpha: 0.2);
    list-style-type: none;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    color: $dark-grayish-blue;
    // outline: 1px solid red;
    // .bar {
    //   // outline: 1px solid red;
    //   order: 1;
    //   display: flex;
    //   justify-content: space-between;
    //   padding: 1.5rem;
    //   // outline: 1px solid red;
    //   // margin-top: 4rem;
    //   div {
    //     display: flex;
    //     // outline: 1px solid red;
    //     column-gap: 0.9rem;
    //   }
    // }
    // .hidden {
    //   display: none;
    // }
    li {
      // outline: 1px solid blue;
      padding: 1.5rem;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      background-color: #fff;
      outline: 1px solid $light-grayish-blue;
      input {
        margin-right: 1rem;
        outline: none;
      }
      p {
        width: 100%;
        // outline: 1px solid red;
      }
      img {
        // Using visibility because I want to maintain the layout.
        // Consider mobile devices for this functionality!!
        visibility: hidden;
        // fill: $dark-grayish-blue;
      }
      .strike-through {
        text-decoration: line-through;
        color: $light-grayish-blue;
      }
    }
    li:hover {
      img {
        visibility: visible;
        cursor: pointer;
      }
    }
    .bar {
      outline: 1px solid $light-grayish-blue;
      order: 1;
      font-size: 1.2rem;
      div {
        padding: 1.5rem;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
      }
    }
    .hidden {
      display: none;
    }
  }
  .filter-bar {
    margin-top: 1.5rem;
    display: flex;
    box-shadow: 0 -5px 20px 0 rgba($color: #000000, $alpha: 0.2);
    justify-content: center;
    column-gap: 0.9rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #fff;
    color: $dark-grayish-blue;
    border-radius: 8px;
    .clicked {
      color: $bright-blue;
    }
  }
}

///////////////////////////////
//////////////Dark Mode////////
//////////////////////////////
// body {
//   // light-mode
//   --text-color: hsl(200, 15%, 8%);
//   --bkg-color: hsl(0, 0%, 98%);
//   header {
//     --h-bkg-color: #fff;
//     --h-text-color: hsl(200, 15%, 8%);
//   }
//   aside {
//     --aside-text-color: hsl(200, 15%, 8%);
//   }
//   .form-and-dropdown-container {
//     form {
//       input {
//         --i-bkg-color: #fff;
//         --i-text-color: hsl(0, 0%, 52%);
//       }
//     }
//     div {
//       select {
//         --s-bkg-color: #fff;
//         --s-text-color: hsl(200, 15%, 8%);
//       }
//     }
//   }
//   .countries-container {
//     .each-country {
//       .info-container {
//         --inf-bkg-color: #fff;
//         --inf-text-color: hsl(200, 15%, 8%);
//       }
//     }
//   }
//   .country-page-main {
//     .back-btn {
//       --back-bkg-color: #fff;
//       --back-text-color: hsl(200, 15%, 8%);
//     }
//   }
//   .border {
//     --back-bkg-color: #fff;
//     --back-text-color: hsl(200, 15%, 8%);
//   }
// }
// body.dark-theme {
//   // dark-mode
//   --text-color: #eee;
//   --bkg-color: hsl(207, 26%, 17%);
//   header {
//     --h-bkg-color: hsl(209, 23%, 22%);
//     --h-text-color: #fff;
//   }
//   aside {
//     --aside-text-color: #fff;
//   }
//   .form-and-dropdown-container {
//     form {
//       input,
//       input::placeholder {
//         --i-bkg-color: hsl(209, 23%, 22%);
//         --i-text-color: #fff;
//       }
//     }
//     div {
//       select {
//         --s-bkg-color: hsl(209, 23%, 22%);
//         --s-text-color: #fff;
//       }
//     }
//   }
//   .countries-container {
//     .each-country {
//       .info-container {
//         --inf-bkg-color: hsl(209, 23%, 22%);
//         --inf-text-color: #fff;
//       }
//     }
//   }
//   .country-page-main {
//     .back-btn {
//       --back-bkg-color: hsl(209, 23%, 22%);
//       --back-text-color: #fff;
//     }
//   }
//   .border {
//     --back-bkg-color: hsl(209, 23%, 22%);
//     --back-text-color: #fff;
//   }
// }

// @media (prefers-color-scheme: dark) {
//   /* defaults to dark theme */
//   body {
//     // dark-mode
//     --text-color: #eee;
//     --bkg-color: hsl(207, 26%, 17%);
//     header {
//       --h-bkg-color: hsl(209, 23%, 22%);
//       --h-text-color: #fff;
//     }
//     aside {
//       --aside-text-color: #fff;
//     }
//     .form-and-dropdown-container {
//       form {
//         input,
//         input::placeholder {
//           --i-bkg-color: hsl(209, 23%, 22%);
//           --i-text-color: #fff;
//         }
//       }
//       div {
//         select {
//           --s-bkg-color: hsl(209, 23%, 22%);
//           --s-text-color: #fff;
//         }
//       }
//     }
//     .countries-container {
//       .each-country {
//         .info-container {
//           --inf-bkg-color: hsl(209, 23%, 22%);
//           --inf-text-color: #fff;
//         }
//       }
//     }
//     .country-page-main {
//       .back-btn {
//         --back-bkg-color: hsl(209, 23%, 22%);
//         --back-text-color: #fff;
//       }
//     }
//     .border {
//       --back-bkg-color: hsl(209, 23%, 22%);
//       --back-text-color: #fff;
//     }
//   }
//   body.light-theme {
//     // light-mode
//     --text-color: hsl(200, 15%, 8%);
//     --bkg-color: hsl(0, 0%, 98%);
//     header {
//       --h-bkg-color: #fff;
//       --h-text-color: hsl(200, 15%, 8%);
//     }
//     aside {
//       --aside-text-color: hsl(200, 15%, 8%);
//     }
//     .form-and-dropdown-container {
//       form {
//         input,
//         input::placeholder {
//           --i-bkg-color: #fff;
//           --i-text-color: hsl(0, 0%, 52%);
//         }
//       }
//       div {
//         select {
//           --s-bkg-color: #fff;
//           --s-text-color: hsl(200, 15%, 8%);
//         }
//       }
//     }
//     .countries-container {
//       .each-country {
//         .info-container {
//           --inf-bkg-color: #fff;
//           --inf-text-color: hsl(200, 15%, 8%);
//         }
//       }
//     }
//     .country-page-main {
//       .back-btn {
//         --back-bkg-color: #fff;
//         --back-text-color: hsl(200, 15%, 8%);
//       }
//     }
//     .border {
//       --back-bkg-color: #fff;
//       --back-text-color: hsl(200, 15%, 8%);
//     }
//   }
// }

// body {
//   background: var(--bkg-color);
//   color: var(--text-color);
//   header {
//     background: var(--h-bkg-color);
//     color: var(--h-text-color);
//   }
//   aside {
//     color: var(--aside-text-color);
//   }
//   .form-and-dropdown-container {
//     form {
//       input,
//       input::placeholder {
//         background: var(--i-bkg-color);
//         color: var(--i-text-color);
//       }
//     }
//     div {
//       select {
//         background: var(--s-bkg-color);
//         color: var(--s-text-color);
//       }
//     }
//   }
//   .countries-container {
//     .each-country {
//       .info-container {
//         background: var(--inf-bkg-color);
//         color: var(--inf-text-color);
//       }
//     }
//   }
//   .country-page-main {
//     .back-btn {
//       background: var(--back-bkg-color);
//       color: var(--back-text-color);
//     }
//   }
//   .border {
//     background: var(--back-bkg-color);
//     color: var(--back-text-color);
//   }
// }
